#finderController {
}

#finderController ul {
  margin:0px;
  margin-top:10px;
  padding:0px;
  list-style: none
}

#finderController ul li span.wrapper {
  display: inline-block;
  position: relative;
}

#finderController form {
  margin:0;
  padding: 0;
}

span.weight {
  color:#aaa;
  font-size:0.9em;
  vertical-align: middle;
}

span.title {
  font-size:1em;
  vertical-align: middle;
}

/*p.help-text {display:none;}*/